{% extends 'blog/base.html' %}
{% load mathfilters %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>{{ post.get_category_display }}</p>
            </div>
            
            <h2>
                <a href="{%url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            </h2>
            <p>
                {{ post.text|truncatewords:30 }}
                <a href="{%url 'post_detail' pk=post.pk %}">read more</a>
            </p>

            <p>By {{ post.author }}</p>
            <div class="date">
                <p>
                    {{ post.created_date }} . 
                    {{ post.text|wordcount|intdiv:256 }} 
                    min read
                </p>
            </div>

        </div>
    {% endfor %}
{% endblock %}
